body{
    background-image: url(../images/mountain2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
}

h2{
    font-family: 'Alegreya', serif;
    font-weight: bold;
    color:blue;
}
h4{
    font-family: 'Kalam', cursive;
    font-weight: bold;
    color: blue;
}
.container{
    background: rgba(245, 245, 220, 0.4);
    text-align: center;
    border-radius: 15px;
    padding: 20px;
    color: black;
    
}

.fontClass{
    font-family: 'Kalam', cursive;
    font-weight: bold;
    font-size: 18px;
}

.z-depth-3{
    background:rgba(245, 245, 220, 0.7);
}
input[type=submit] {
    font-family: 'Kalam', cursive;
    font-weight: bold;
    color: blue;
}

.imageC1{
    border: 1px solid beige;
    width: 400px;
}

img{
    border: 2px solid beige ;
}

#zipcode-input:focus, #city-input:focus {
    border-bottom: 1px solid bisque;
    box-shadow: 0 1px 0 0 beige ;
}


.searchBox{
    margin-top: 30px;

}

.carousel-item{
    margin-top: -50px;
    min-width: 400px;
}

.modal-search{
    text-align: center;
}

#messageArea{
    height: 200px;
    max-height: 200px;
    overflow-y: auto;
    display:flex;
    flex-direction: column-reverse;
}

#chat{
    max-width: 500px;
    margin: 10px auto;
    /* border: 1px solid #ccc; */

  }

.chatImage{
    width: 100%;   
}

.user-view{
    height: 200px;
}

#nameInput{
    border-top: 1px solid #9e9e9e;
    
}

#nameInput:focus{
    border-bottom: 1px solid#2962ff;
}

.chatIcon{
    padding: 5px 10px 5px 10px;
    margin: 15px;
    position: fixed;
}

.placeInfo{
    text-align: left;
}

#weather{
    height: 100px;
    margin-top: -85px;
    margin-bottom: 0px;
    border: none;
}

.weatherBox{
    position: relative;
    margin-bottom: -50px;
}

.weatherBox #temp{
position:relative;
bottom:30px;
left:0px;
visibility:hidden;
}

  
.weatherBox:hover #temp{
    visibility:visible;
}

.weatherBox #description{
    position:relative;
    bottom:30px;
    left:0px;
    visibility:hidden;
    }
    
    
.weatherBox:hover #description{
    visibility:visible;

}

.white-text{
    margin-top: -5px;
    font-weight: bolder;
    font-size: 18px;
    top: -75px;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px #b3e5fc;
}


input[type=text] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color:#333;
}

input[type=submit] {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
